body {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #f5bcaa,
    #f7b6cf,
    #b3ebff,
    #b4eee0,
    #f8f0c5,
    #e7c9c1,
    #d1fff3,
    #81cafa
  );
  background-size: 1000% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

.nav-links {
  list-style: none;
  font-size: large;
  font-weight: bold;
}
.Title_Text {
  list-style: none;
  font-size: x-large;
  font-weight: bold;
  color: rgb(236, 5, 5);
}

li {
  text-decoration: none;
  list-style: none;
}

.iframe-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0984e3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.animetitle {
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
.movietitle {
  color: #ec4b2e;
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
.tvseriestitle {
  color: #f90b6d;
  font-size: 38px;
  font-family: "Signika", sans-serif;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.mangatitle {
  color: #e91fc7;
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.bookstitle {
  color: #5e0303;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 38px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
