body {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #fa5928,
    #f54789,
    #47c4f1,
    #42f1c9,
    #f1db5e,
    #4af884,
    #48abec,
    #ef57fd
  );
  background-size: 1000% 1000%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

.nav-links {
  list-style: none;
  font-size: large;
  font-weight: bold;
}
.Title_Text {
  list-style: none;
  font-size: x-large;
  font-weight: bold;
  color: rgb(236, 5, 5);
}

li {
  text-decoration: none;
  list-style: none;
}

.iframe-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0984e3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.animetitle {
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
.movietitle {
  color: #ec4b2e;
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
.tvseriestitle {
  color: #f90b6d;
  font-size: 38px;
  font-family: "Signika", sans-serif;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.mangatitle {
  color: #e91fc7;
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.bookstitle {
  color: #5e0303;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 38px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}
#arrow-up{
  border: solid black;
  
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #8b0000;
  color: #fff;
  z-index: 1;
}
.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
      transform: translateY(2px);
  }
  to {
      transform: translateY(-1px);
  }
}