nav {
  position: absolute;
  left: 0px;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
}

.entertainment {
  font-size: x-large;
  font-weight: bold;
}
.container-new {
  width: 95%;
  height: 10%;
  margin: 0 auto;
  padding: 0.5rem 0;
  text-align: center;
}
#navbar-inner {
  color: rgb(116, 20, 20);
}
#navbar-inner2 {
  color: rgb(141, 8, 8);
}
#navbar-inner3 {
  color: rgb(192, 19, 19);
}
#navbar-inner4 {
  color: rgb(238, 66, 66);
}
#navbar-inner5 {
  color: rgb(241, 92, 92);
}
.link-container {
  text-align: center;
  width: 15%;
  height: 100%;
}

.nav-link {
  display: block;
  text-decoration: none;
  width: 100%;
  font-size: large;
  color: black;
  font-weight: bold;
  transform: translateY(-1px);
  transition: transform ease 0.3s;
}

.nav-link:hover {
  color: rgb(255, 0, 0);
  border-bottom: 5px solid rgb(255, 123, 0);
  transform: translateY(-10px);
  transition: transform ease 0.3s;
}

.nav-link-active {
  color: rgb(0, 26, 255);
  border-bottom: 5px solid red;
}
